<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <meta name="author" content="intracto"/>
    <title>Jan-labs</title>


    <link rel="shortcut icon" href="{{ app.assets_base }}/favicon.ico"/>

    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="{{ app.assets_base }}/images/favicons/mstile-144x144.png">

    <link href="{{ app.assets_base }}/css/reset.css" rel="stylesheet" type="text/css"/>
    <link href="{{ app.assets_base }}/css/uniform.css" rel="stylesheet" type="text/css"/>
    <link href="{{ app.assets_base }}/css/style.css" rel="stylesheet" type="text/css"/>
    <link href="{{ app.assets_base }}/css/scratch_2.css" rel="stylesheet" type="text/css"/>

</head>

<body>
<div class="container">
    <input type="hidden" id="base_path" value="{{ app.assets_base }}">
    <header>
        {% block header %}

        {% endblock %}
    </header>
    <div id="content" class="clearfix">
        {% block body %}
        {% endblock %}
    </div>
</div>

{% block javascripts %}
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <script src="{{ app.assets_base }}/js/jquery.ui.touch-punch.min.js"></script>
    <script src="{{ app.assets_base }}/js/jquery.uniform.min.js"></script>
    <script src="{{ app.assets_base }}/js/min/global.min.js"></script>
{% endblock %}

</body>
</html>
