{% extends "base.html.twig" %}

{% block header %}
    {{ parent() }}
{% endblock %}
    {% block body %}
        {{ parent() }}

        <div class="content">

            <h1>{{ ('question'~week_id~'.registration.title')| trans({}, "messages")|nl2br }}*</h1>

            <div class="block-margin-1">
                {#
                {{ ('question'~week_id~'.registration.text')| trans({}, "messages")|nl2br }}
                #}
            </div>
            <div class="clearfix">
                <div class="registerintro">
                    <p>BRUXX, Brussels Airlines en VIER sturen jou de
                        wijde wereld in, maar daar blijft het niet bij.
                    </p>

                    <p>Neem je beste vrienden mee en maak er een
                        onvergetelijke trip van dankzij:</p>
                    <ul>
                        <li>4 <strong>retourtickets</strong> Brussel-Barcelona</li>
                        <li>3 verkwikkende <strong>overnachtingen</strong></li>
                        <li>4 tickets voor <strong>het grootste muziekfestival van Spanje</strong></li>
                    </ul>
                </div>
                <div class="registerbox">
                    <h2>{{ 'question1.registration.subtitle'| trans({}, "messages")|nl2br }}</h2>

                    <p>{{ 'question1.registration.subtext'| trans }}</p>

                    {% set arrError = {} %}
                    {% for view in form  if view.vars.errors|length > 0 %}
                        {% set viewke = view.vars.label %}
                        {% set messageke = (view.vars.errors|first).message %}
                        {% set arrError = arrError|merge({viewke : messageke}) %}
                    {% endfor %}

                    {% if arrError|length > 0  or message is defined %}
                        <div class="notifications box">
                            <ul>
                                {% if message is defined %}
                                    <li>{{ message|trans }}</li>
                                {% endif %}
                                {% for view in form  if view.vars.errors|length > 0 %}
                                    {% set viewke = view.vars.label %}
                                    {% set messageke = (view.vars.errors|first).message %}
                                    <li>{{ form_label(view) }}: {{ messageke|trans }}</li>
                                {% endfor %}
                            </ul>

                        </div>
                    {% endif %}

                    <form method="post" action="{{ url('register') }}">
                        <table>

                            <tr>
                                <td class="text-right">{{ "question1.registration.first_name"|trans }}:</td>
                                <td>{{ form_widget(form.firstname) }}</td>
                            </tr>
                            <tr>
                                <td class="text-right">{{ "question1.registration.name"|trans }}:</td>
                                <td>{{ form_widget(form.name) }}</td>
                            </tr>
                            <tr>
                                <td class="text-right">{{ "question1.registration.email"|trans }}:</td>
                                <td>{{ form_widget(form.email_address) }}</td>
                            </tr>

                            <tr>
                                <td class="text-right">{{ "question1.registration.birthday"|trans }}:</td>
                                <td>{{ form_widget(form.birthday) }}</td>
                            </tr>
                            <tr>
                                <td colspan="2">{{ form_widget(form.optin_bruxx) }} <label
                                            for="form_optin_bruxx">{{ "question1.registration.optin_bruxx"|trans }}</label>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">{{ form_widget(form.optin_vier) }} <label
                                            for="form_optin_vier">{{ "question1.registration.optin_vier"|trans }}</label>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td style="text-align: right;"><input class="btnstyle1" type="submit" name="submit"
                                                                      id="registration_submit"
                                                                      value="{{ "Ik doe mee!"|trans }}">
                                </td>
                            </tr>
                        </table>

                        {{ form_widget(form._token) }}
                    </form>

                </div>
            </div>
            <div class="sidenote">{{ ('question'~week_id~'.registration.sidenote')| trans({}, "messages")|nl2br }}
            </div>
        </div>
    {% endblock %}
{% block javascripts %}
    {{ parent() }}

{% endblock %}
